body {
  font-family: Helvetica, Arial, sans-serif;
  font-size:14;

  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

input[type=text]{
  width: 400px;
  padding: 2px;
}

textarea{
  width: 400px;
  height: 200px;
}

.post-heading{
  position: relative;
  border-bottom:3px solid#666;
}

.post+.post{
  margin-top: 15px;
}

.post-title{
  font-size: 20px;
  color: #333;
  font-weight:bold;
  text-decoration:none;
}

.post-content {
  font-family: sans-serif;
  padding: 2px;
}

.post-time {
  position: absolute;
  right: 0px;
  bottom:0px;
  color: #9999;
  font-size:12px;
}

.topbanner {
  display:block;
  color: #888888;
  font-weight:bold;
  font-size:40px;
  text-align: center;
  padding: 10px;
  text-decoration:none;
}

.error {
  color: red;
}

.label {
  text-align: right;
}



hr {
  size: 10px;
}
